* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, 'sans-serif';
  background: linear-gradient(150deg, #0f2b05, #000000);
  height: 100vh;
  text-align: center;
}

header {
  padding: 70px 0;
}

.card {
  width: 354px;
  height: 508px;
  display: inline-block;
  background-image: url(./assets/explorer.svg);

  cursor: pointer;

  opacity: 0;
  transform: translateX(-100px);
  animation: appear 0.4s forwards;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 110px;
  border: 4px solid #f7dd43;

  user-select: none;
  -webkit-user-select: none;
}

.card div {
  text-align: left;
  margin-top: 108px;
  margin-left: 60px;
}

.card h1 {
  font-size: 18px;
  line-height: 140%;
}

.card p {
  font-size: 14px;
  line-height: 160%;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
